@import 'tailwindcss';

@plugin '@tailwindcss/aspect-ratio';

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 300px;
  --breakpoint-3xl: 2189px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-nv: 975px;

  --color-brand-blue: #2c4696;
  --color-brand-lightblue: #ebf4f8;
  --color-brand-orange: #fc8512;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility contain {
  @apply px-5 mx-auto md:px-10 max-w-7xl;
}

@utility contain-textbutton {
  @apply mr-12 ml-auto max-w-160 bottom-48 lg:bottom-40;
}

@utility contain-outer {
  @apply px-5 mx-auto md:px-10 max-w-360;
}

@utility section {
  @apply py-10 md:py-20;
}

@utility section-sm {
  @apply py-5 md:py-10;
}

@utility row {
  @apply pb-10 last:pb-0;
}

@utility row-sm {
  @apply pb-5 last:pb-0;
}

@utility btn {
  @apply inline-block px-5 py-3 font-bold text-white rounded-sm bg-brand-blue opacity-90 hover:opacity-100;
}

@utility bg-section {
  @apply section bg-brand-lightblue rounded-xl;
}

@utility parsed {
  & p {
    @apply mb-4 last:mb-0;
  }
  & ul {
    @apply pl-5 mb-4 list-disc list-outside;
  }

  & ul li {
    @apply mb-2;
  }

  & a {
    @apply text-brand-blue hover:underline;
  }

  & img {
    @apply my-3 w-full max-h-107.5 object-cover;
  }
}

@utility text-image {
  & div[data-image='2'] {
    @apply row-span-2;
  }

  & div[data-image='1'] {
    @apply row-span-2;
  }
}

@utility article-ul {
  @apply list-disc list-outside!;
  /* lg:!list-inside */
}

@utility small-breadcrumb-text {
  font-size: 0.43rem;
}

@utility breadcrumb-text {
  font-size: 0.5rem;
  line-height: 1rem;
}

@layer utilities {
  @font-face {
    font-family: 'Chivo';
    src: url('../public/assets/fonts/Chivo/Chivo-Regular.ttf');
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Chivo';
    src: url('../public/assets/fonts/Chivo/Chivo-Bold.ttf');
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'Chivo';
    src: url('../public/assets/fonts/Chivo/Chivo-Black.ttf');
    font-weight: 900;
    font-display: swap;
  }
}

@layer base {
  body {
    font-family: "Chivo", sans-serif;
  }
  div,
  figure {
    @apply relative;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-semibold text-brand-blue;
  }
  h1 {
    @apply text-3xl md:text-4xl;
  }
  h2 {
    @apply mb-3 text-2xl md:text-3xl;
  }
  h3 {
    @apply mb-3 text-xl md:text-2xl;
  }
}

.nav-style {
  transition: ease-in-out 0.4s;
}

.nth-child:nth-child(1) {
  padding-bottom: 0;
}

.max-w-1-25 {
  max-width: 5rem;
}

.max-w-1-5 {
  max-width: 6rem;
}

.max-w-2 {
  max-width: 8rem;
}

.max-w-2-25 {
  max-width: 9rem;
}

.max-w-2-5 {
  max-width: 10rem;
}

.max-w-4-5 {
  max-width: 18rem;
}

.right-23 {
  right: 5.75rem;
}

.right-110 {
  right: 27.5rem;
}

/* .right-3/10 {

  } */

.right-104 {
  right: 26rem;
}

.right-108 {
  right: 27rem;
}

.right-112 {
  right: 28rem;
}

.right-120 {
  right: 30rem;
}

.text-1-5xs {
  font-size: 0.7rem;
}

.text-2xs {
  font-size: 0.5rem;
  line-height: 0.25rem;
}

.line-height {
  line-height: 0.7rem;
}

.ul-a {
  text-decoration: underline;
}

.ul-a:hover {
  color: blue;
}
